@font-face {
  font-family: 'Glyphicons Halflings';
  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons-halflingsregular') format('svg');
}

@font-face {
  font-family: "MyriadProItalic";
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot");
  src: url("../fonts/MyriadProItalic/MyriadProItalic.eot?#iefix")format("embedded-opentype"), url("../fonts/MyriadProItalic/MyriadProItalic.woff") format("woff"), url("../fonts/MyriadProItalic/MyriadProItalic.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "MyriadProRegular";
  src: url("../fonts/MyriadPro-Regular.eot");
  src: url("../fonts/MyriadProRegular/MyriadProRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/Myriad Pro Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "San Francisco";
  src: url('../fonts/SFUIDisplay-Regular.otf');
  src: url('../fonts/SFUIDisplay-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/SF-UI-DISPLAY-REGULAR_1.ttf') format('truetype'), url("../fonts/sanfranciscodisplay-regular-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "San Francisco";
  src: url('../fonts/SFUIDisplay-Bold.otf');
  src: url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SF-UI-DISPLAY-BOLD_1.ttf') format('truetype'), url("../fonts/sanfranciscodisplay-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: "San Francisco";
  src: url('../fonts/SFUIDisplay-Heavy.otf');
  src: url('../fonts/SFUIDisplay-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/SF-UI-DISPLAY-HEAVY_1.ttf') format('truetype'), url("../fonts/sanfranciscodisplay-bold-webfont.woff") format("woff");
  font-style: normal;
  font-weight: 900;
}

body {
  width: 100%;
  font-family: "MyriadProRegular";
  font-size: 18px;
  line-height: 1;
  color: #000000;
  background-color: #ffffff;
}

h1,
h2,
h4 {
  font-family: "San Francisco";
  font-weight: 700;
}

h3 {
  font-family: "San Francisco";
  font-size: 33px;
  line-height: 1;
  font-weight: 900;
}

@media (max-width: 1200px) {
  h3 {
    font-size: 24px;
    letter-spacing: 0.01px;
  }
}

@media (min-width: 768px) and (max-width:1200px) {
  .header-item .col-sm-offset-1 {
    margin-left: 3%;
  }
}

.navbar {
  margin-bottom: 0px;
  min-height: 0px;
  background: transparent;
  z-index: 1;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

.navbar-nav>li>a {
  padding-left: 25px;
  padding-right: 25px;
  font-family: "San Francisco";
  font-size: 12px;
  line-height: 1;
  font-weight: 400;
  text-transform: uppercase;
  color: #ffffff;
}

@media (min-width: 768px) and (max-width:1200px) {
  .navbar-nav>li>a {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.navbar-nav>li>a:hover {
  border-bottom: 2px solid #fdd13b;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-nav>li>a:active {
  color: #fdd13b;
}

.navbar-nav>li>a:focus {
  background-color: #33313b;
}

.navbar-nav .active:hover {
  border-bottom: 0px;
}

.navbar-nav .active {
  border-bottom: 2px solid #fdd13b;
  background-color: rgba(255, 255, 255, 0.1);
}

.navbar-collapse.in {
  overflow-y: none;
}

.icon-bar {
  background-color: #ffffff;
}

.header-item {
  padding-bottom: 0;
  padding-top: 40px;
  margin: 0;
  background: #33313b;
}

.header-item>.row {
  margin-left: 0;
  margin-right: 0;
}

.btn {
  padding: 15px 5px;
  margin-bottom: 3px;
  font-family: "San Francisco";
  font-size: 13px;
  line-height: 13px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  border: 2px solid #fdd13b;
}

.btn:hover,
.btn:active {
  box-shadow: inset 0 2px 3px rgba(0,0,0,.5);
  color: #fdd13b;
}

.btn-enter {
  width: 210px;
}

.btn-city {
  width: 130px;
  margin-left: 30px;
  background-color: #fdd13b;
}

@media (max-width:1200px) {
  .btn-city {
    margin-left: 0px;
  }
}

.btn-city:hover,
.btn-city:active {
  color: #33313b;
}

.phone {
  padding-top: 10px;
  margin: 0 auto;
  display: block;
  color: #ffffff;
}

.btn-callback,
.btn-call {
  width: 100%;
}

@media (min-width:992px) and (max-width:1200px) {
  .btn-callback,
  .btn-call {
    width: 120%;
  }
}

@media screen and (max-width:767px) {
  .btn-callback,
  .btn-call {
    width: 52%;
  }
}

@media screen and (max-width:480px) {
  .btn-callback,
  .btn-call {
    width: 80%;
  }
}

h1 {
  margin-bottom: 50px;
  padding-top: 100px;
  font-family: "San Francisco";
  font-size: 75px;
  font-weight: 700;
  color: #ffffff;
}

@media screen and (max-width:767px) {
  h1 {
    font-size: 50px;
    line-height: 1.2;
    padding-top: 0px;
  }
}

.pt2 {
  position: relative;
  min-height: 550px;
  background: #33313b;
}

.layout-up {
  position: relative;
  z-index: 1;
}

.pt2::after {
  position: absolute;
  content: "";
  width: 1200px;
  height: 695px;
  background: url(../img/Album_1.png) 100% 100% no-repeat;
  top: -7%;
  right: 5%;
  z-index: 0;
}

@media screen and (max-width: 1200px) {
  .pt2::after {
    display: none;
  }
}

.pt2 .btn {
  padding: 20px 15px;
  width: 60%;
}

@media screen and (max-width:767px){
  .pt2 .btn {
    width: 80%;
}
}

.btn-yellow {
  background-color: #fdd13b;
}

.btn-yellow:hover,
.btn-yellow:active {
  color: #33313b;
}

h2 {
  font-size: 44px;
  line-height: 1.1;
  margin: 5px 0;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width:480px){
  h2{
    font-size: 35px;
  }
}

.pt3 {
  padding-top: 145px;
  margin-bottom: 90px;
  min-height: 500px;
  text-align: center;
}

@media screen and (max-width:767px) {
  .pt3 {
    padding-top: 70px;
    margin-bottom: 40px;
  }
}

.pt3 p {
  padding-bottom: 20px;
  color: #777777;
}

h2+p {
  margin-bottom: 40px;
  font-family: "MyriadProItalic";
  font-size: 18px;
  line-height: 1.2;
  color: #7c7c79;
}

h4 {
  margin-bottom: 0px;
  font-family: "San Francisco";
  font-weight: 900;
}

.pt4 {
  position: relative;
  min-height: 780px;
  padding-top: 70px;
  text-align: center;
  background-color: #f7f7f7;
}

.pt4::after {
  position: absolute;
  content: "";
  width: 730px;
  height: 860px;
  background: url(../img/Album_3.png) 100% 100% no-repeat;
  top: -1%;
  left: 0%;
}

@media (max-width: 1200px) {
  .pt4::after {
    display: none;
  }
}

.row-visible-1 {
  margin: 0;
  text-align: right;
  width: 100%;
  height: 860px;
  background: url(../img/Album_3.png) 100% 100% no-repeat;
  background-position: 0 0;
}

.pt4 p {
  font-family: "MyriadProItalic";
  font-size: 18px;
  line-height: 1.3;
  color: #7c7c79;
}

.pt4 .row {
  margin-top: 160px;
  text-align: left;
}

@media (max-width:1200px) {
  .pt4 .row {
    margin-top: 0px;
    min-height: auto;
    text-align: right;
  }
}

.pt4 span {
  text-transform: uppercase;
}

.row-visible-4{
  text-align: center;
}

.pt5 {
  position: relative;
  min-height: 780px;
  padding-top: 240px;
}

.pt5 p {
  font-family: "MyriadProItalic";
  font-size: 18px;
  line-height: 1.3;
  color: #7c7c79;
}

.pt5::after{
  position: absolute;
  content: "";
  width: 740px;
  height: 1280px;
  background: url(../img/Album_2.png) 100% 100% no-repeat;
  top: -45%;
  right: 0%;
  z-index: 2;
}

@media (max-width: 1200px) {
  .pt5::after {
    display: none;
  }
}

.row-visible-2 {
  margin: 0;
  width: 100%;
  height: 900px;
  background: url(../img/Album_2.png) 100% 100% no-repeat;
  background-position: 100% 0;
}

.pt5>.col-sm-12 {
  padding: 0;
}

@media (max-width:1200px) {
  .pt5 {
    padding-top: 0px;
    min-height: auto;
  }
}

.pt5 h3,
.pt5 p {
  text-align: right;
}

@media screen and (max-width:767px) {
  .pt5 h3 {
    text-align: left;
  }
}

.pt6 {
  position: relative;
  min-height: 785px;
  padding-top: 210px;
  background-color: #373540;
  color: #ffffff;
}

@media (max-width:1200px) {
  .pt6 {
    padding-top: 0px;
    min-height: auto;
  }
}

.pt6 h3 {
  text-align: left;
}

@media screen and (max-width:767px) {
  .pt6 h3 {
    text-align: right;
  }
}

.pt6 p {
  font-family: "MyriadProItalic";
  font-size: 18px;
  line-height: 1.3;
  text-align: left;
  color: #ffffff;
}

.pt6 span {
  text-transform: uppercase;
}

.pt6::after {
  position: absolute;
  content: "";
  width: 850px;
  height: 820px;
  background: url(../img/Album_4.png) 100% 100% no-repeat;
  top: -4%;
  left: 0%;
}

@media (max-width: 1200px) {
  .pt6::after {
    display: none;
  }
}

.row-visible-3 {
  margin: 0;
  width: 100%;
  height: 820px;
  background: url(../img/Album_4.png) 100% 100% no-repeat;
  background-position: 0 0;
}

.pt7 {
  padding-top: 40px;
  padding-bottom: 20px;
  min-height: 780px;
  text-align: center;
}

@media (max-width: 1200px) {
  .pt7 {
    min-height: auto;
  }
}

.pt7 h2 {
  padding-top: 60px;
}

.pt7 p {
  font-family: "MyriadProItalic";
  font-size: 18px;
  line-height: 18px;
  color: #7c7c79;
}

.btn-call-us {
  padding: 20px 15px;
  font-family: "San Francisco";
  font-weight: 900;
  width: 37%;
  background-color: #fdd13b;
}

.btn-call-us:hover,
.btn-call-us:active {
  color: #33313b;
}

@media screen and (max-width: 1200px) {
  .btn-call-us {
    width: 100%;
  }
}

.hide-bullets {
  list-style: none;
  margin-left: -40px;
  margin-top: 20px;
}

.item {
  padding-left: 10%;
  padding-right: 10%;
}

.carousel-control {
  margin-top: -30px;
  width: 24px;
  height: 60px;
  top: 50%;
}

.carousel-control.left {
  background-image: url(../img/left.png);
}

.carousel-control.left:hover {
  background-image: url(../img/left_2.png);
}

.carousel-control.right {
  background-image: url(../img/right.png);
}

.carousel-control.right:hover {
  background-image: url(../img/right_2.png);
}

@media (max-width:767px){
  .carousel-control {
  margin-top: -20px;
  width: 17px;
  height: 40px;
  top: 50%;
}

.carousel-control.left {
  background-image: url(../img/left_min.png);
}

.carousel-control.left:hover {
  background-image: url(../img/left_min_color.png);
}

.carousel-control.right {
  background-image: url(../img/right_min.png);
}

.carousel-control.right:hover {
  background-image: url(../img/right_min_color.png);
}
}

@media (min-width: 767px) {
  #slider-thumbs .col-sm-offset-3 {
    margin-left: 23%;
  }
}

.pt8 {
  position: relative;
  padding-top: 88px;
  min-height: 700px;
  background-color: #33303c;
}

@media (max-width:1200px) {
  .pt8 {
    min-height: auto;
  }
}

.pt8 h3 {
  padding-left: 10%;
  padding-bottom: 45px;
  text-transform: uppercase;
  color: #ffd213;
}

.pt8 h3::after {
  position: absolute;
  content: "";
  width: 154px;
  height: 95px;
  top: -35px;
  left: 56%;
  background: url(../img/icon_album.png) no-repeat;
}

@media (max-width:480px){
  .pt8 h3::after{
    display: none;
  }
}

.pt8 ul {
  padding-left: 0px;
  font-family: "MyriadProItalic";
  font-size: 22px;
  line-height: 36px;
  color: #ffffff;
  list-style: none;
}

@media (max-width:1200px) {
  .pt8 ul {
    padding-left: 20px;
  }
}

.pt8 li {
  position: relative;
}

.pt8 li::before {
  position: absolute;
  content: "";
  width: 10px;
  height: 10px;
  top: 15px;
  left: -20px;
  border-radius: 50%;
  background-color: #ffd213;
}

.album5 {
  position: absolute;
  width: 750px;
  height: 1280px;
  background: url(../img/Album_5.png) 100% 100% no-repeat;
  background-size: contain;
  top: -73%;
  right: 0%;
}

@media (max-width: 1200px) {
  .album5 {
    display: none;
  }
}

.pt9 {
  min-height: 500px;
}

@media (max-width:1200px) {
  .pt9 {
    padding-bottom: 20px;
    min-height: auto;
  }
}

.pt9 h2 {
  padding-top: 175px;
  padding-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

@media (max-width:1200px) {
  .pt9 h2 {
    padding-top: 60px;
  }
}

.pt9 p {
  font-family: "San Francisco";
  font-size: 22px;
  line-height: 1.5;
  font-weight: 700;
}

.pt9 span {
  font-size: 75px;
  line-height: 1;
  color: #ffd213;
}

.pt9 span:last-child {
  color: #b7043f;
}

.pt10 {
  padding-top: 55px;
  min-height: 600px;
  text-align: center;
  background-color: #f7f7f7;
}

@media (max-width:1200px) {
  .pt10 {
    min-height: auto;
  }
}

.pt10 h2+p {
  padding-bottom: 20px;
}

.pt10 h4 {
  margin-bottom: 5px;
  padding-top: 10px;
  font-size: 15px;
  line-height: 15px;
}

@media (min-width:768px) and (max-width:1200px) {
  h4.do-it {
    padding-bottom: 15px;
  }
}

.pt10 h4+p {
  font-family: "MyriadProItalic";
  font-size: 14px;
  font-weight: 400;
  color: #777777;
}

@media (max-width:480px){
  .sales img{
  width:100%;
  }
}

@media (min-width:481px) and (max-width:767px) {
  .sales img {
    width: 235px;
    height: 235px;
  }
}


@media (min-width:768px) and (max-width:992px){
  .sales img {
    width: 100%;
  }
}

@media (min-width:1200px) {
  .sales img {
    width: 80%;
    height: auto;
  }
}

.sales div {
  padding-bottom: 5px;
}

.social-btn {
  font-size: 0;
  margin-bottom: 80px;
}

.social-btn a {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 41px;
  height: 41px;
  line-height: 1;
  font-size: 0px;
  cursor: pointer;
}

.social-btn a::before {
  content: "";
  position: absolute;
  bottom: 0px;
  left: 0px;
  background-image: url(../img/vk_icon.png);
  width: 41px;
  height: 41px;
}

.social-btn a:hover::before {
  background-image: url(../img/vk_icon_color.png);
}

@media (min-width:768px) and (max-width:1200px) {
  .social-btn .col-sm-12 {
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width:768px) and (max-width:1200px) {
  .social-btn .col-xs-12 {
    padding: 0;
  }
}

.social-btn a:nth-child(2)::before {
  background-image: url(../img/insta_icon.png);
}

.social-btn a:nth-child(2):hover::before {
  background-image: url(../img/insta_icon_color.png);
}

.social-btn a:nth-child(3)::before {
  background-image: url(../img/fb_icon.png);
}

.social-btn a:nth-child(3):hover::before {
  background-position: -0px -41px;
  background-image: url(../img/fb_icon_color.png);
}

.pt11 {
  padding-top: 80px;
  padding-bottom: 55px;
  background-color: #34323d;
}

.pt11 h2 {
  margin-bottom: 50px;
  font-size: 33px;
  line-height: 1;
  font-weight: 900;
  color: #ffffff;
}

.pt11 .btn {
  padding: 25px 15px;
  width: 85%;
  font-family: "San Francisco";
  font-weight: 900;
  background-color: #fed136;
}

@media (max-width:480px){
  .pt11 .btn{
    width: 100%;
  }
}

.pt11 .btn:hover,
.pt11 .btn:active {
  color: #33313b;
}

.pt12 p {
  padding-bottom: 35px;
  font-size: 18px;
  line-height: 1.3;
  text-align: center;
  color: #777777;
}

.pt12 h2 {
  padding-top: 80px;
}

@media screen and (max-width:767px) {
  .pt12 h2 {
    padding-top: 30px;
  }
  .pt12 h2+p {
    padding-bottom: 10px;
  }
  .pt12 p {
    padding-bottom: 16px;
  }
}

.pt12 h4 {
  margin-bottom: 10px;
  font-size: 25px;
  line-height: 1;
  text-transform: uppercase;
}

.pt12 .row {
  padding-bottom: 50px;
}

.pt12 .row:last-child {
  padding-bottom: 70px;
}

@media screen and (min-width: 769px) {
  .process-production:nth-child(1),
  .process-production:nth-child(1) p,
  .process-production:nth-child(3),
  .process-production:nth-child(3) p,
  .process-production:nth-child(5),
  .process-production:nth-child(5) p {
    text-align: right;
  }
  .process-production:nth-child(2),
  .process-production:nth-child(2) p,
  .process-production:nth-child(4),
  .process-production:nth-child(4) p {
    text-align: left;
  }
}

@media screen and (max-height:767px) {
  .process-production {
    text-align: center;
  }
}

@media (min-width: 992px) {
  .pt12 img {
    width: 100%;
    height: auto;
  }
}

.pt13 {
  padding-bottom: 190px;
  text-align: center;
  background-color: #f9f9f9;
}

.pt13 h2 {
  padding-top: 80px;
  padding-bottom: 10px;
}

@media screen and (max-width:767px) {
  .pt13 {
    padding-bottom: 20px;
  }
  .pt13 h2 {
    padding-top: 40px;
    padding-bottom: 10px;
  }
}

.carousel-indicators {
  bottom: -80px;
}

.carousel-indicators>li {
  width: 15px;
  height: 15px;
  margin: 0 2px;
  background-color: #bdbdbd;
  border: none;
}

.carousel-indicators>li.active {
  width: 15px;
  height: 15px;
  background-color: #fed136;
}

@media (min-width:767px) {
  .slides img {
    width: 100%;
    height: 100%;
  }
}

@media (max-width:767px) {
  .slides img {
    width: 70%;
    height: 70%;
  }
}

.slides h4 {
  padding-top: 10px;
  margin-bottom: 0px;
}

.slides span {
  font-family: "MyriadProItalic";
  line-height: 30px;
}

.slides p {
  color: #7c7c79;
}

@media screen and (max-width:767px) {
  .slides h4 {
    padding-top: 0px;
  }
  .slides p {
    margin-bottom: 50px;
  }
}

.pt13 .carousel-control {
  top: 20%;
}

.pt14 {
  min-height: 500px;
  padding-top: 80px;
  padding-bottom: 40px;
  text-align: center;
  background-color: #222222;
  background-image: url(../img/background_part.png);
  background-size: 100% 100%;
  color: #ffffff; 
}

.pt14 h2+p {
  padding-bottom: 35px;
  color: #ffffff;
}

@media screen and (max-width:767px) {
  .pt14 h2+p{
  padding-bottom: 10px;
  }
}


.pt14 input {
  margin-bottom: 20px;
  height:40px;

}


.pt14 textarea{
	height:160px;
}


::-webkit-input-placeholder {
  font-family: "San Francisco";
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

::-moz-placeholder {
  font-family: "San Francisco";
  font-size: 14px;
  line-height: 1.8;
  font-weight: 700;
  text-transform: uppercase;
}


/* Firefox 19+ */

/*::-moz-placeholder {
  font-family: "San Francisco";
  padding-left: 5px;
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
}


/* Firefox 18- */

/*::-ms-placeholder {
  font-family: "San Francisco";
  padding-left: 5px;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}*/

textarea::-webkit-input-placeholder{
  font-family: "San Francisco";
  font-size: 14px;
  line-height: 1.3;
  font-weight: 700;
  text-transform: uppercase;
}

textarea:-moz-placeholder{
  font-family: "San Francisco";
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
}

.pt14 .btn {
  margin-top:25px;
  margin-bottom: 25px;
  width: 100%;
  background-color: #fed136;
}

.pt14 .btn:hover,
.pt14 .btn:active {
  color: #33313b;
}

@media screen and (max-width:767px) {
  .pt14 .btn {
    width: 60%;
  }
}

.pt15 {
  padding-top: 40px;
  padding-bottom: 30px;
  min-height: 100px;
}

.pt15 a {
  position: relative;
  display: inline-block;
  vertical-align: baseline;
  width: 41px;
  height: 41px;
  line-height: 45px;
  font-size: 0px;
  cursor: pointer;
}

.pt15 a::before {
  content: "";
  position: absolute;
  top: 0px;
  left: 0px;
  background: url(../img/Facebook.png) no-repeat;
  width: 41px;
  height: 41px;
}

.pt15 a:hover::before {
  background-image: url(../img/facebook_color.png);
}

.pt15 a:nth-child(2)::before {
  background-image: url(../img/vk.png);
}

.pt15 a:nth-child(2):hover::before {
  background-image: url(../img/vk_color.png);
}

.pt15 a:nth-child(3)::before {
  background-image: url(../img/insta.png);
}

.pt15 a:nth-child(3):hover::before {
  background-image: url(../img/insta_color.png);
}

.pt15 a:nth-child(4)::before {
  background-image: url(../img/google.png);
}

.pt15 a:nth-child(4):hover::before {
  background-image: url(../img/google_color.png);
}


/*div, a, header, footer, p{
  outline: 1px solid blue;
}*/
